<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vocabularyassitant.mapper.EnglishVocabulary.EnglishVocabularyLearningMapper">

    <update id="updateLearningRecord"
        parameterType="com.vocabularyassitant.entity.EnglishVocabulary.EnglishVocabularyLearningRecords">
        update EnglishVocabularyLearningRecordsTable set lDate=CURDATE() where vId=#{vId} and uId=#{uId};
    </update>

    <insert id="addLearningRecord"
            parameterType="com.vocabularyassitant.mapper.EnglishVocabulary.EnglishVocabularyLearningMapper">
        insert into EnglishVocabularyLearningRecordsTable (vId, uId, lDate,) values(#{vId}, #{uId}, #{lDate});
    </insert>

    <delete id="deleteLearningRecords"
            parameterType="string">
        delete from EnglishVocabularyLearningRecordsTable where vId=#{vId} and uId=#{uId};
    </delete>

    <select id="getAllLearningRecords"
            parameterType="map"
            resultType="com.vocabularyassitant.entity.EnglishVocabulary.EnglishVocabulary">
        select ET.*, ELRT.uId, ELRT.lDate, EXP(-0.8 * DATEDIFF(CURDATE(), ELRT.lDate)) as retention_value from EnglishVocabularyLearningRecordsTable ELRT join EnglishVocabularyTable ET on ET.vId = ELRT.vId where ELRT.uId=#{uId} order by retention_value asc limit #{limit} offset #{offset};
    </select>

    <select id="getAllLearningRecordsCount"
            parameterType="string"
            resultType="integer">
        select count(*) from EnglishVocabularyLearningRecordsTable ELRT join EnglishVocabularyTable ET on ET.vId = ELRT.vId where ELRT.uId=#{uId};
    </select>

    <select id="getHighPriorityVocabularyForReview"
            parameterType="string"
            resultType="com.vocabularyassitant.entity.EnglishVocabulary.EnglishVocabulary">
        select ET.*, ELRT.uId, ELRT.lDate, EXP(-0.8 * DATEDIFF(CURDATE(), ELRT.lDate)) as retention_value from EnglishVocabularyLearningRecordsTable ELRT join EnglishVocabularyTable ET on ET.vId = ELRT.vId where EXP(-0.8 * DATEDIFF(CURDATE(), ELRT.lDate)) &lt; 0.4 and ELRT.uId=#{uId} order by retention_value asc limit 1;
    </select>

</mapper>