<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vocabularyassitant.mapper.CustomizedVocabularyNotebookMapper">
    <select id="addCustomizedVocabularyNoteBook"
            parameterType="com.vocabularyassitant.entity.CustomizedVocabularyNotebook"
            statementType="CALLABLE">
        {call insert_customized_vocabulary_notebook(
        #{uId, mode=IN, jdbcType=VARCHAR},
        #{nName, mode=IN, jdbcType=VARCHAR},
        #{nDescription, mode=IN, jdbcType=VARCHAR},
        #{result, mode=OUT, jdbcType=INTEGER}
        )}
    </select>
    <update id="updateCustomizedVocabularyNoteBook"
            parameterType="com.vocabularyassitant.entity.CustomizedVocabularyNotebook">
        update CustomizedVocabularyNotebookTable set nName=#{nName}, nDescription=#{nDescription} where nId=#{nId};
    </update>
    <delete id="deleteCustomizedVocabularyNoteBook"
            parameterType="string">
        delete from CustomizedVocabularyNotebookTable where nId=#{nId};
    </delete>
    <select id="getCustomizedVocabularyNotebook"
            parameterType="string"
            resultType="com.vocabularyassitant.entity.CustomizedVocabularyNotebook">
        select * from CustomizedVocabularyNotebookTable where nId=#{nId};
    </select>
    <select id="getUsersAllCustomizedNotebook"
            parameterType="string"
            resultType="com.vocabularyassitant.entity.CustomizedVocabularyNotebook">
        select * from CustomizedVocabularyNotebookTable where uId=#{uId};
    </select>
</mapper>