<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vocabularyassitant.mapper.CustomizedVocabularyMapper">
    <select id="addCustomizedVocabularyRecord"
            parameterType="com.vocabularyassitant.entity.CustomizedVocabulary"
            statementType="CALLABLE">
        {call insert_customize_vocabulary(
        #{vContent, mode=IN, jdbcType=VARCHAR},
        #{vZhMeaning, mode=IN, jdbcType=VARCHAR},
        #{nId, mode=IN, jdbcType=VARCHAR},
        #{lDate, mode=IN, jdbcType=DATE},
        #{result, mode=OUT, jdbcType=INTEGER}
        )}
    </select>
    <update id="updateCustomizedVocabularyRecord"
            parameterType="com.vocabularyassitant.entity.CustomizedVocabulary">
        update CustomizeVocabularyTable
        <set>
            <if test="vContent != null and vContent != ''">
                vContent = #{vContent},
            </if>
            <if test="vZhMeaning != null and vZhMeaning != ''">
                vZh_meaning = #{vZhMeaning},
            </if>
            lDate = CURDATE()
        </set>
        where cId = #{cId}
        and nId = #{nId}
    </update>
    <delete id="deleteCustomizedVocabularyRecord"
            parameterType="string">
        delete from CustomizeVocabularyTable where cId=#{cId} and nId=#{nId};
    </delete>
    <select id="getAllCustomizedRecord"
            parameterType="map"
            resultType="com.vocabularyassitant.entity.CustomizedVocabulary">
        select cId, vContent, vZh_meaning, nId, lDate, EXP(-0.8 * DATEDIFF(CURDATE(), lDate)) as retention_value from CustomizeVocabularyTable where nId = #{nId} order by retention_value asc limit #{limit} offset #{offset};
    </select>
    <select id="getAllCustomizedRecordCount"
            parameterType="string"
            resultType="integer">
        select count(*) from CustomizeVocabularyTable where nId = #{nId};
    </select>
    <select id="getHighPriorityRecordForReview"
            parameterType="string"
            resultType="com.vocabularyassitant.entity.CustomizedVocabulary">
        select cId, vContent, vZh_meaning, nId, lDate, EXP(-0.8 * DATEDIFF(CURDATE(), lDate)) as retention_value from CustomizeVocabularyTable where EXP(-0.8 * DATEDIFF(CURDATE(), lDate)) &lt; 0.4 and nId = #{nId} order by retention_value asc limit 1;
    </select>

</mapper>